<h2>Chekout</h2>
<a href="#/">Forsætte med at shoppe</a>

<h4>Customer Information</h4>

<label for="firstname">Firstname:</label>
<input type="text" id="firstname" ng-model="user.firstname" />

<label for="lastname">Lastname:</label>
<input type="text" id="lastname" ng-model="user.lastname" />

<label for="address">Address:</label>
<input type="text" id="address" ng-model="user.address" />

<label for="zip">Zip:</label>
<input type="text" id="zip" ng-model="user.zip" />

<label for="city">City:</label>
<input type="text" id="city" ng-model="user.city" />

<label for="email">Email:</label>
<input type="text" id="email" ng-model="user.email" />

<button type="submit" ng-click="order()">Confirm order</button>	