<!DOCTYPE html>
<html ng-app="Main"> <!--Fortæller at det er en Angler app og bruger modulet Main-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Webshop</title>
		<link rel="stylesheet" type="text/css" href="">
		<style type="text/css">
			.img{width: 100px; height: 150px;}
			.bla{float: left;}
		</style>
	</head>
	<body> <!--ng-controller="MainController"> Controlleren skal defimnerers i html dokumentet, men kan gøres flere steder -> mulighed for flere controllers-->

		<!-- Products -->
		<div ng-controller="productsController">
			<h1>Lamps 4 Light</h1>

			<h2>{{ error }}</h2>

			<input type="search" placeholder="Search product name" ng-model="productName" />

			<ul>
				<li ng-repeat="catObject in categories">
					<input type="checkbox" ng-click="categoryChange(catObject.category)"> {{ catObject.category }}
				</li>
			</ul>

			<!--{{ categoriesSelected }}-->

			<div class="bla" ng-repeat="product in products | filter:productName | filter:categoryFilter">
				<img class="img" src="{{ product.image }}" />	
				<h3>{{ product.name }}</h3>
				<p>{{ product.price }},- kr</p>
				<form ng-submit="addToCart(product)">
					<input type="number" ng-model="quantity" />
					<button type="submit">Add to cart</button>
				</form>
			</div>
		</div>


		<!-- CART -->
		<div ng-controller="cartController">
			<h3>Cart</h3>
			<table>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				<tr ng-repeat="cartProduct in cartProducts">
					<td>{{cartProduct.product.name}}</td>
					<td>{{cartProduct.product.price}},- kr</td>
					<td>{{cartProduct.quantity}}</td>
				</tr>
			</table>
		</div>

		<!-- AngularJS -->
		<script src="angular/angular.min.js"></script>
		<!--<script src="js/app.js"></script>-->


		<script src="app.module.js"></script>

		<script src="cart/cart.service.js"></script>
		<script src="products/products.service.js"></script>

		<script src="cart/cart.controller.js"></script>
		<script src="products/products.controller.js"></script>
	</body>
</html>