<!DOCTYPE html>
<html ng-app="Main">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Webshop</title>
		<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="css/min-css/style.css"> -->
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>
	<body> 
		<div class="container">
			<header class="page-header">
				<a href="#/product"><h1>Lamps 4 Light</h1></a>
				<a href="#/admin">Log in</a>
			</header>
				
			<h2>{{ error }}</h2>

			<div class="row">
				<!-- CART -->
				<div class="cart">
					<div ng-controller="cartController" class=" col-md-4 pull-right">
						
						<h3>Cart</h3>

						<table class="table">
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th></th>
								<th></th>
								<th>Total</th>
								<th></th>
							</tr>
							<tr ng-repeat="cartProduct in cartProducts">
								<td>{{cartProduct.product.name}}</td>
								<td>{{cartProduct.product.price}},-</td>
								<td>{{cartProduct.quantity}} <button ng-click="addToQuantity(cartProduct.product)" >+</button><button ng-click="deleteFromQuantity(cartProduct.product)">-</button></td>
								<td> </td>
								
								<td> {{cartProduct.total}},-</td> <!--total pris for anatllet af producter-->
								<td><button ng-click="deleteProductFromCart(cartProduct.product)">X</button></td>
							</tr>
						</table>

						<div class="pull-right">
							<p><strong>Total: {{cartTotal}},-</strong> <a href="#/checkout" class="btn btn-default">Checkout</a></p>
						</div>
					</div>
				</div>

				<!--Products, product, checkout, admin-->
				<main>
					<div ng-view>
					</div>
				</main>
			</div>
		</div>

		<!-- AngularJS -->
		<script src="angular/angular.min.js"></script>
		<script src="angular-route/angular-route.min.js"></script> 

		<script src="app.module.js"></script>

		<script src="cart/cart.service.js"></script>
		<script src="products/products.service.js"></script>
		<script src="checkout/checkout.service.js"></script>
		<script src="admin/admin.service.js"></script>

		<script src="cart/cart.controller.js"></script>
		<script src="products/products.controller.js"></script>
		<script src="products/product.controller.js"></script>
		<script src="checkout/checkout.controller.js"></script>
		<script src="admin/admin.controller.js"></script>
	</body>
</html>