<!--start siden hvor alle produkterne vises-->


<input type="search" placeholder="Search product name" ng-model="productName" />

<ul>
	<li ng-repeat="catObject in categories">
		<input type="checkbox" ng-click="categoryChange(catObject.category)"> {{ catObject.category }}
	</li>
</ul>



<div class="bla" ng-repeat="product in products | filter:productName | filter:categoryFilter">
	<a ng-href="#/product/{{product.id}}">
		<img class="img" src="{{ product.image }}" />	
		<h3>{{ product.name }}</h3>
		<p>{{ product.price }},- kr</p>
	</a>
	<form ng-submit="addToCart(product)">
		<input type="number" ng-model="quantity" />
		<button type="submit">Add to cart</button>
	</form>
</div>