<!--Checkout side-->
<div class="checkout-site">
	<a href="#/" class="btn btn-default">Continue shopping</a>

	<h2>Chekout</h2>

	<h4>Customer Information</h4>

	<form>
		<label for="firstname">Firstname:</label>
		<input type="text" id="firstname" ng-model="order.firstname" />

		<label for="lastname">Lastname:</label>
		<input type="text" id="lastname" ng-model="order.lastname" />

		<label for="address">Address:</label>
		<input type="text" id="address" ng-model="order.address" />

		<label for="zip">Zip:</label>
		<input type="text" id="zip" ng-model="order.zip" />

		<label for="city">City:</label>
		<input type="text" id="city" ng-model="order.city" />

		<label for="email">Email:</label>
		<input class="email" type="text" id="email" ng-model="order.email" />

		<button class="btn btn-default confirm" type="submit" ng-click="saveOrder()">Confirm order</button>	
	</form>
</div>