<!-- Admin delen vises -->
<div class="admin-site">
	<h1>Welcome to Admin</h1>

	<a href="/#/admin/show-orders">Show orders</a>

	
	<h4>You can add a new product:</h4>
	<a href="/#/admin/add-product" class="btn btn-default">Add product</a>

	<h4>Update or delete an exststing product:</h4>
	<table>
		<tr>
			<th>Product</th>
			<!-- <th>Button</th> -->
		</tr>
		<tr ng-repeat="product in products">
			<td>{{ product.name }}</td>
			<td>
				<a href="/#/admin/update-product/{{product._id}}" class="btn btn-default">Update</a>
				<button class="btn btn-default" type="submit" ng-click="deleteProduct(product._id)">Delete</button>	

			</td>
		</tr>

	</table>
</div>